---
layout: default
title: Protokollen
slug: start
---

<div class="jumbotron">
	<div class="container">
		<div class="content row">
			<div class="col col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="position: relative;">
				<h1>Protokollen
				<small class="hyphenate">Alla svenska kommunstyrelseprotokoll. I en öppen, sökbar databas.
				<br>Lansering våren 2015.</small>
				</h1>
				<div class="background">§</div>	
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			{% include block.html title="Vad är Protokollen?" block="block.what.md" slug="what" %}

			{% include block.html title="Varför?" block="block.why.md" slug="why" %}

			{% include block.html title="Vem är Protokollen?" block="block.who.md" slug="what" %}

			{% include block.html title="När publiceras protokollen?" block="block.when.md" slug="when" %}

			{% include block.html title="Vill du vara med?" block="block.contribute.md" slug="contribute" %}

			{% include block.html title="Kontakt" block="block.contact.md" slug="contact" %}
		</div>
	</div>
</div>



