<header class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Title-->
		<div class="navbar-header">
			<a class="navbar-brand animated hidden" href="#">
				<span class="logo">§</span> Protokollen
			</a>
		</div>
		<!-- Twitter, FB, Github -->
		<div class="pull-right contact">
			<label class="hidden-xs">Håll dig uppdaterad</label>
			<ul>
				<li>
					<a href="http://twitter.com/protokollen_jpp">
						<span class="fui-twitter fui-icon"></span>
					</a>
				</li>
				<li>
					<a href="http://facebook.com/protokollen">
						<span class="fui-facebook fui-icon"></span>
					</a>
				</li>
				<li>
					<a href="http://github.com/rotsee/protokollen">
						<span class="fui-github fui-icon"></span>
					</a>
				</li>
			</ul>
		</div>
		
	</div>
</header>